#about-content{
    padding:15px  0;
    h2{
        color:#801309;
        border-bottom: 1px dotted #999;
        padding-bottom:15px;
        
    } 
    .text-title{
        padding:25px 0 ;  
        border-bottom: 1px solid #999;
    }
    .list{
        table{
            margin:15px 0;
            
        }
        td{
            
            vertical-align: top;
        }
        b{
            color:#801309;
            font-size:20px;
        }
        
    }
    
    
    
}