#article-content-detail{
    background-image: url("../images/article/bg.png");
    background-repeat: no-repeat;
    background-position: center top;
     min-height:1152px;
    
    .detail{
        padding:50px 25px;
    } 
    
    h4{
        
        padding-top:20px ;
        padding-bottom:5px ;
        color:#801309;
        border-bottom: 1px dotted #dcdbdb;
    }      
    
    
}