#article-content{
    background-image: url("../images/article/bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    min-height:1152px;
    
    
    .list{
        margin-top: 15px;
        background-color:#ffffff;
        .title{
            text-align:right;
            margin-top: -14px;
            border-bottom: 1px solid #dcdbdb;
            padding-right:10px;
            /*margin:10px 0;*/
        }
        b{
            display:block;
            color:#801309;   
            padding-top:10px;
            font-size:15px;
            a:link { text-decoration: none;color:#9e4940;}       
            a:visited { text-decoration: none;color:#9e4940;}   
            a:hover { text-decoration: none; color:#9e4940;}   
            a:active { text-decoration: none;color:#9e4940;}  
            
        }
        td{
            
            vertical-align: top;       
        }
        
    }
    .detail{
        padding:10px 25px;
    } 
    
    h4{
        
        padding-top:20px ;
        padding-bottom:5px ;
        color:#801309;
        /*border-bottom: 1px dotted #dcdbdb;*/
    }      
    
    
}