#contactus-content{
    padding-top:20px;
    h2{
        color:#801309;
    }
    .contact-form{
        background-image: url("../images/contactus/bg_form.png");
        background-repeat: no-repeat;
        background-position: center top;
        height: 255px;
        padding: 30px;
        width:881px;
        color:#801309;
/*        tr{
            line-height:45px;
        }*/
        input,textarea {
             margin: 10px;
            border: none;
            width: 300px;
            padding: 3px;
        }
        .button {
            background-color: #801309;
            color: #FFFFFF;
            padding: 5px 15px;
            width:100px;
        }
    }
}