#home-contant{
    
    .content{
        padding:15px 0;
        
        .col-xs-7{
            padding-left: 0;
        padding-right: 0;       }
        h3{
            color:#790707;
        }
        .list{
            border-right:2px solid #e4e4e3;
            .col-xs-12{
                padding-left: 0px !important;
            }
            
            input.button {
                background: none repeat scroll 0 0 #801309;
                color: #FFFFFF;
                padding: 5px 15px;
                border:none;
            }
        }
        .list-news{
            background-color:#f9f9f9;
            margin:10px 0;
            img{
                border:4px solid #efeeee;
                
            }
            
            b{
                border-bottom:2px solid #efeeee;   
                color:#3b3b3a;
                a{line-height: 2em;}
                a:link { text-decoration: none;color:#000;}       
                a:visited { text-decoration: none;color:#000;}   
                a:hover { text-decoration: none; color:#000;}   
                a:active { text-decoration: none;color:#000;}  
            }
            p{
                color:#363636;
                padding:10px 0;
            }
            stong{
                color:#9e4940;            }
            a:link { text-decoration: none;color:#9e4940;}       
            a:visited { text-decoration: none;color:#9e4940;}   
            a:hover { text-decoration: none; color:#9e4940;}   
            a:active { text-decoration: none;color:#9e4940;}  
            
            
        }
        .date-event{
            
            a:link { text-decoration: none;color:#9e4940;}       
            a:visited { text-decoration: none;color:#9e4940;}   
            a:hover { text-decoration: none; color:#9e4940;}   
            a:active { text-decoration: none;color:#9e4940;}  
            table{
                margin:10px 0 ;       
            }
        }
        .date{
            background-color:#ebebeb;
            width: 35%;
            text-align:center;
            margin-right:15px;
            p{
                margin: 0;
                color:#b50505;
                line-height: 30px;
                /*font-weight: bold;*/
                
            }
            .date-num{
                font-size:35px; 
                
            }
            .date-mouth{
                font-size:22px; 
            }
            .date-year{
                font-size:25px; 
            }
        }
    }
    .line-date{
        
        background-image: url("../images/home/line-canlan.png");
        background-repeat: repeat-x;
        background-position: center bottom;
        height: 7px;
        
        
    }
    
}