#inside-content{
    padding:15px  0;
    h2{
        color:#801309;
        border-bottom: 1px dotted #999;
        padding-bottom:15px;
        
    } 
    .list{
        text-align: center;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        border: 1px solid #f1f1f1;  
        background-color:#fcfbf9;
        margin:5px;
        
        p{
            
            margin-top:15px;
            padding:15px 0;      
            border-top: 1px dotted #999;
            color:#882218;
            font-size:16px;
        }
    }
    
    .col-xs-4 {
        width: 31.333%
    }
}