    @font-face {
        font-family: "trajan_proregular";
        font-style: normal;
        font-weight: normal;
        src: url("../fonts/font/trajanpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font/trajanpro-regular-webfont.woff") format("woff"), url("../fonts/font/trajanpro-regular-webfont.ttf") format("truetype"), url("../fonts/font/trajanpro-regular-webfont.svg#trajan_proregular") format("svg");
    }
    @font-face {
        font-family: "HelveThaiCa";
        font-style: normal;
        font-weight: normal;
        src: url("../fonts/font/DB_helvethaica_X.eot?#iefix") format("embedded-opentype"), url("../fonts/font/db_helvethaica_x.woff") format("woff"), url("../fonts/font/DB_helvethaica_X.ttf") format("truetype"), url("../fonts/font/db_helvethaica_x.svg#db_helvethaica_x") format("svg");
    }
    @font-face {
        font-family: "DBAdmanXRegular";
        font-style: normal;
        font-weight: normal;
        src: url("../fonts/font/db_adman_x.eot?#iefix") format("embedded-opentype"), url("../fonts/font/db_adman_x.woff") format("woff"), url("../fonts/font/db_adman_x.ttf") format("truetype"), url("../fonts/font/db_adman_x.svg#DBAdmanXRegular") format("svg");
    }
    
    @font-face {
        font-family: 'PSLKittithadaProRegular';
        src: url('../fonts/psl/psl094pro-webfont.eot');
        src: url('../fonts/psl/psl094pro-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/psl/psl094pro-webfont.woff') format('woff'),
        url('../fonts/psl/psl094pro-webfont.ttf') format('truetype'),
        url('../fonts/psl/psl094pro-webfont.svg#PSLKittithadaProRegular') format('svg');
        font-weight: normal;
        font-style: normal;
        
    }
    @font-face {
        font-family: 'PSLKittithadaProBold';
        src: url('../fonts/psl/psl096pro-webfont.eot');
        src: url('../fonts/psl/psl096pro-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/psl/psl096pro-webfont.woff') format('woff'),
        url('../fonts/psl/psl096pro-webfont.ttf') format('truetype'),
        url('../fonts/psl/psl096pro-webfont.svg#PSLKittithadaProBold') format('svg');
        font-weight: normal;
        font-style: normal;
        
    }
    
    body {
        /*padding-top: 0px;*/
        font-family: 'PSLKittithadaProBold';
        font-size: 13px;
        color:#000000;
        margin:0;
        padding:0;
        background-color:#fff;
        a:link { text-decoration: none;}       
        a:visited { text-decoration: none;}   
        a:hover { text-decoration: none;}   
        a:active { text-decoration: none;}  
        
        
        .content{
            
        }
        .row{
            .col-xs-1, .col-xs-4 ,.col-xs-3 ,.col-xs-5,.col-xs-2,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
                background-color: transparent;
                border: none;
            }
            
        }
        header{
            /*background-image: url("../images/bg_head.png");
            background-repeat: no-repeat;
            background-position: center right;*/
            height:130px;
            .row{  
                
                padding-top:10px;
                .col-xs-2 {
                    width: 13.667%;
                }   
            }   
        }
        .line{
            background-image: url("../images/line_top.png");
            background-repeat: repeat-x;
            background-position: center bottom;
            height:12px; 
            margin-top: -2px;
            /*padding-bottom: 5px;*/
            /*margin-top: 83px;*/
            
        }
        #slider{
            background-image: url("../images/line_bottom.png");
            background-repeat: repeat-x;
            background-position: center bottom;
            height: auto;
            padding-bottom: 24px;
            background-color:#f6f5f2;
            .bx-wrapper .bx-viewport {
                background: none repeat scroll 0 0 #FFFFFF;
                border: none;
                box-shadow: none;
                left: -5px;
            }
            .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
                
                bottom: 5px;
            }   
            .bx-wrapper {
                margin: 0 auto 0px;
            }
        }
        footer{
            
            background-color:#4f0202;
            height:auto;
            padding: 15px;
            h4{
                color:#fff;           
            }
            li {
                float: left;
                width: 50%;
                color: #FFFFFF;
            }
            .right{
                border-left:1px solid #2a0202 !important        
            }
            p{
                color:#70706f;
            }
            
            a:link { text-decoration: none; color:#70706f}       
            a:visited { text-decoration: none; color:#70706f}   
            a:hover { text-decoration: none; color:#70706f}   
            a:active { text-decoration: none; color:#70706f}  
        }
        .footer-bottom{
            background-color:#2a0202;
            height:auto;
            p{
                margin: 10px;
                text-align:right;
                color:#70706f;
            }
            
        }
        
        .text-right{
            
            text-align:right;
            
        }
        .img-news{
            width:100%
        }
        
    }