
    #navigate {
        display: block;
        /*height: 53px;*/
        /*margin: auto;*/
        /*margin-top: 80px;*/
        width: 885px;
        float: left;
        margin-top: 13px;
    }
    
    #navigate ul{
        padding:0;
        list-style:none;
        
    }
    
    #navigate ul li{
        float:left;
        display:block;
        
    }
    
    #navigate ul li a{
        display:block;
        overflow:hidden;
        /*height: 45px;*/
        font-size:14px;
        color:#8c641d;
        padding: 10px 14px;
        text-align: center;
        text-decoration:none;
        
    }
    #home a {
        
        /*width: 88px;*/
    }
    #home a:hover,#home a.currentPage {
        background-color:#d6bc29;
        /*width: 88px;*/
    }
    #aboutus a {
        
        /*width: 150px;*/
    }
    #aboutus a:hover,#aboutus a.currentPage {
        background-color:#d6bc29;
        /*width: 150px;*/
    }
    #service a {
        
        /*width: 210px;*/
    }
    #service a:hover,#service a.currentPage {
        background-color:#d6bc29;
        /*width: 210px;*/
    }
    #learning a {
        
        /*width: 195px;*/
    }
    #learning a:hover,#learning a.currentPage {
        background-color:#d6bc29;
        /*width: 195px;*/
    }
    #news a {
        
        width: 145px;
    }
    #news a:hover,#news a.currentPage {
        background-color:#d6bc29;
        /*width: 145px;*/
    }
    #gallery a {
        
        /*width: 87px;*/
    }
    #gallery a:hover,#gallery a.currentPage {
        background-color:#d6bc29;
        /*width: 87px;*/
    }
