#news-content-detail{
    
    height:auto;
    td{
         vertical-align: top;
    }
    
    .detail{
        padding:50px 25px;
    } 
    
    h4{
        
        padding-bottom:5px ;
        color:#801309;
    }      
    
    
}