#newsall-content{
    
    
 
    padding:20px 0;
    h4{
        padding-left:15px; 
    }
    td{
        vertical-align: top;
    }
    b{
        color:#801309;
        a:link { text-decoration: none; color:#801309}       
        a:visited { text-decoration: none; color:#801309}   
        a:hover { text-decoration: none; color:#801309}   
        a:active { text-decoration: none; color:#801309}  
    }
    .list{
        margin-top:10px ;
        
    }
    .list-vdo{
        
        margin-top:10px ;
        background-color:#ebebeb;
        padding:10px 15px;
    }
    .line-list{
        border-bottom: 1px solid #ebebeb;          
    }
    .more{
        text-align:right;
        a:link { text-decoration: none; color:#801309}       
        a:visited { text-decoration: none; color:#801309}   
        a:hover { text-decoration: none; color:#801309}   
        a:active { text-decoration: none; color:#801309}  
        
    }
}