#news-content{
    .fb-share-button-icon{
        background-image: url("../images/news/fb.png");
        background-repeat: no-repeat;
        background-position: center center;
        height: 25px;
        width:26px;
        
    }
    .bx-wrapper {
        margin: 0 auto !important;
        padding: 0;
        position: relative;
    }
    .bx-wrapper .bx-viewport {
        background: transparent;
        border:none;
        box-shadow: 0 0 5px #CCCCCC;
        left:0px;
    }
    .bx-wrapper .bx-controls-direction a {
        display: none;
    }
    padding:20px 0;
    p{
        margin:0px;
    }
    td{
        vertical-align: top;
    }
    h2{
        color:#801309;
    } 
    .list-thumb{
        
        
        
        padding:0px;
        margin:10px 0;
        text-align: center;
        
        a{
            /*                        list-style:none;
            float:left;*/
            margin: 0 3px;
        }   
    }
    .date{
        color:#70706f;    
        text-align: right; 
    }
    .titile{
        background-color:#ebebeb;
        padding:15px 10px 20px 10px;
        text-align: center;
        font-size:18px;
        color:#801309;    
        a:link { text-decoration: none; color:#801309}       
        a:visited { text-decoration: none; color:#801309}   
        a:hover { text-decoration: none; color:#801309}   
        a:active { text-decoration: none; color:#801309}  
    }
    .detail-news{
        border-bottom: 1px dotted #dcdbdb;
        padding:20px 15px ;
    }
    .social{
        
        padding:20px 15px ;
        
    }
    .more{
        text-align:right;
        a:link { text-decoration: none; color:#fff}       
        a:visited { text-decoration: none; color:#fff}   
        a:hover { text-decoration: none; color:#fff}   
        a:active { text-decoration: none; color:#fff}  
        
    }
    
    .vdo-detail{
        
        h4{color: #801309;
            padding-bottom: 5px; 
        }     
    }
    .list{
        padding:15px 5px; 
        
        .date-list{
            padding-top:15px;
        }
        h4 {
            border-bottom: 1px dotted #DCDBDB;
            color: #801309;
            padding-bottom: 5px;
            a:link { text-decoration: none; color:#801309}       
            a:visited { text-decoration: none; color:#801309}   
            a:hover { text-decoration: none; color:#801309}   
            a:active { text-decoration: none; color:#801309}  
        }
        .more-list{
            padding-top:15px;
            a:link { text-decoration: none; color:#801309}       
            a:visited { text-decoration: none; color:#801309}   
            a:hover { text-decoration: none; color:#801309}   
            a:active { text-decoration: none; color:#801309}      
            
        }
    }
}