/* line 2, ../sass/service.scss */
#ourservices .container {
  background: #fff;
}
/* line 4, ../sass/service.scss */
#ourservices .container .mar-left {
  padding-left: 0;
}
/* line 7, ../sass/service.scss */
#ourservices .container .mar-right {
  padding-right: 0;
}
/* line 10, ../sass/service.scss */
#ourservices .container .head {
  color: #FFF;
  font-size: 20px;
}
/* line 15, ../sass/service.scss */
#ourservices .container th, #ourservices .container td {
  text-align: center;
  border: 1px solid #999999;
  font-size: 20px;
}
/* line 21, ../sass/service.scss */
#ourservices .container h1 {
  font-family: 'Conv_DB Ozone X';
  color: #000;
  font-size: 48px;
}
/* line 26, ../sass/service.scss */
#ourservices .container p {
  font-size: 20px;
}
/* line 29, ../sass/service.scss */
#ourservices .container #service-tab {
  text-align: center;
  margin-bottom: 10px;
}
/* line 32, ../sass/service.scss */
#ourservices .container #service-tab a {
  text-decoration: none;
}
@media (max-width: 768px) {
  /* line 37, ../sass/service.scss */
  #ourservices .container .mar-left {
    padding-left: 15px;
  }
  /* line 40, ../sass/service.scss */
  #ourservices .container .mar-right {
    padding-right: 15px;
  }
}
