@font-face {
  font-family: "trajan_proregular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/font/trajanpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font/trajanpro-regular-webfont.woff") format("woff"), url("../fonts/font/trajanpro-regular-webfont.ttf") format("truetype"), url("../fonts/font/trajanpro-regular-webfont.svg#trajan_proregular") format("svg");
}

@font-face {
  font-family: "HelveThaiCa";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/font/DB_helvethaica_X.eot?#iefix") format("embedded-opentype"), url("../fonts/font/db_helvethaica_x.woff") format("woff"), url("../fonts/font/DB_helvethaica_X.ttf") format("truetype"), url("../fonts/font/db_helvethaica_x.svg#db_helvethaica_x") format("svg");
}

@font-face {
  font-family: "DBAdmanXRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/font/db_adman_x.eot?#iefix") format("embedded-opentype"), url("../fonts/font/db_adman_x.woff") format("woff"), url("../fonts/font/db_adman_x.ttf") format("truetype"), url("../fonts/font/db_adman_x.svg#DBAdmanXRegular") format("svg");
}

@font-face {
  font-family: 'PSLKittithadaProRegular';
  src: url("../fonts/psl/psl094pro-webfont.eot");
  src: url("../fonts/psl/psl094pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/psl/psl094pro-webfont.woff") format("woff"), url("../fonts/psl/psl094pro-webfont.ttf") format("truetype"), url("../fonts/psl/psl094pro-webfont.svg#PSLKittithadaProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PSLKittithadaProBold';
  src: url("../fonts/psl/psl096pro-webfont.eot");
  src: url("../fonts/psl/psl096pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/psl/psl096pro-webfont.woff") format("woff"), url("../fonts/psl/psl096pro-webfont.ttf") format("truetype"), url("../fonts/psl/psl096pro-webfont.svg#PSLKittithadaProBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 43, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body {
  /*padding-top: 0px;*/
  font-family: 'PSLKittithadaProBold';
  font-size: 13px;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
/* line 51, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body a:link {
  text-decoration: none;
}
/* line 52, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body a:visited {
  text-decoration: none;
}
/* line 53, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body a:hover {
  text-decoration: none;
}
/* line 54, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body a:active {
  text-decoration: none;
}
/* line 61, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body .row .col-xs-1, body .row .col-xs-4, body .row .col-xs-3, body .row .col-xs-5, body .row .col-xs-2, body .row .col-xs-6, body .row .col-xs-7, body .row .col-xs-8, body .row .col-xs-9, body .row .col-xs-10, body .row .col-xs-11, body .row .col-xs-12 {
  background-color: transparent;
  border: none;
}
/* line 67, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body header {
  /*background-image: url("../images/bg_head.png");
  background-repeat: no-repeat;
  background-position: center right;*/
  height: 130px;
}
/* line 72, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body header .row {
  padding-top: 10px;
}
/* line 75, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body header .row .col-xs-2 {
  width: 13.667%;
}
/* line 80, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body .line {
  background-image: url("../images/line_top.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  height: 12px;
  margin-top: -2px;
  /*padding-bottom: 5px;*/
  /*margin-top: 83px;*/
}
/* line 90, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body #slider {
  background-image: url("../images/line_bottom.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  height: auto;
  padding-bottom: 24px;
  background-color: #f6f5f2;
}
/* line 97, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body #slider .bx-wrapper .bx-viewport {
  background: none repeat scroll 0 0 #FFFFFF;
  border: none;
  box-shadow: none;
  left: -5px;
}
/* line 103, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body #slider .bx-wrapper .bx-pager, body #slider .bx-wrapper .bx-controls-auto {
  bottom: 5px;
}
/* line 107, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body #slider .bx-wrapper {
  margin: 0 auto 0px;
}
/* line 111, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body footer {
  background-color: #4f0202;
  height: auto;
  padding: 15px;
}
/* line 116, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body footer h4 {
  color: #fff;
}
/* line 119, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body footer li {
  float: left;
  width: 50%;
  color: #FFFFFF;
}
/* line 124, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body footer .right {
  border-left: 1px solid #2a0202 !important;
}
/* line 127, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body footer p {
  color: #70706f;
}
/* line 131, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body footer a:link {
  text-decoration: none;
  color: #70706f;
}
/* line 132, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body footer a:visited {
  text-decoration: none;
  color: #70706f;
}
/* line 133, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body footer a:hover {
  text-decoration: none;
  color: #70706f;
}
/* line 134, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body footer a:active {
  text-decoration: none;
  color: #70706f;
}
/* line 136, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body .footer-bottom {
  background-color: #2a0202;
  height: auto;
}
/* line 139, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body .footer-bottom p {
  margin: 10px;
  text-align: right;
  color: #70706f;
}
/* line 147, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body .text-right {
  text-align: right;
}
/* line 152, C:/xampp/htdocs/cheehongkor/assets/sass/_masterpage.scss */
body .img-news {
  width: 100%;
}

/* line 2, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#navigate {
  display: block;
  /*height: 53px;*/
  /*margin: auto;*/
  /*margin-top: 80px;*/
  width: 885px;
  float: left;
  margin-top: 13px;
}

/* line 12, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#navigate ul {
  padding: 0;
  list-style: none;
}

/* line 18, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#navigate ul li {
  float: left;
  display: block;
}

/* line 24, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#navigate ul li a {
  display: block;
  overflow: hidden;
  /*height: 45px;*/
  font-size: 14px;
  color: #8c641d;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
}

/* line 35, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#home a {
  /*width: 88px;*/
}

/* line 39, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#home a:hover, #home a.currentPage {
  background-color: #d6bc29;
  /*width: 88px;*/
}

/* line 43, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#aboutus a {
  /*width: 150px;*/
}

/* line 47, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#aboutus a:hover, #aboutus a.currentPage {
  background-color: #d6bc29;
  /*width: 150px;*/
}

/* line 51, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#service a {
  /*width: 210px;*/
}

/* line 55, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#service a:hover, #service a.currentPage {
  background-color: #d6bc29;
  /*width: 210px;*/
}

/* line 59, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#learning a {
  /*width: 195px;*/
}

/* line 63, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#learning a:hover, #learning a.currentPage {
  background-color: #d6bc29;
  /*width: 195px;*/
}

/* line 67, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#news a {
  width: 145px;
}

/* line 71, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#news a:hover, #news a.currentPage {
  background-color: #d6bc29;
  /*width: 145px;*/
}

/* line 75, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#gallery a {
  /*width: 87px;*/
}

/* line 79, C:/xampp/htdocs/cheehongkor/assets/sass/_navigate.scss */
#gallery a:hover, #gallery a.currentPage {
  background-color: #d6bc29;
  /*width: 87px;*/
}

/* line 3, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content {
  padding: 15px 0;
}
/* line 6, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .col-xs-7 {
  padding-left: 0;
  padding-right: 0;
}
/* line 9, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content h3 {
  color: #790707;
}
/* line 12, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list {
  border-right: 2px solid #e4e4e3;
}
/* line 14, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list .col-xs-12 {
  padding-left: 0px !important;
}
/* line 18, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list input.button {
  background: none repeat scroll 0 0 #801309;
  color: #FFFFFF;
  padding: 5px 15px;
  border: none;
}
/* line 25, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news {
  background-color: #f9f9f9;
  margin: 10px 0;
}
/* line 28, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news img {
  border: 4px solid #efeeee;
}
/* line 33, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news b {
  border-bottom: 2px solid #efeeee;
  color: #3b3b3a;
}
/* line 36, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news b a {
  line-height: 2em;
}
/* line 37, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news b a:link {
  text-decoration: none;
  color: #000;
}
/* line 38, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news b a:visited {
  text-decoration: none;
  color: #000;
}
/* line 39, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news b a:hover {
  text-decoration: none;
  color: #000;
}
/* line 40, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news b a:active {
  text-decoration: none;
  color: #000;
}
/* line 42, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news p {
  color: #363636;
  padding: 10px 0;
}
/* line 46, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news stong {
  color: #9e4940;
}
/* line 48, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news a:link {
  text-decoration: none;
  color: #9e4940;
}
/* line 49, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news a:visited {
  text-decoration: none;
  color: #9e4940;
}
/* line 50, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news a:hover {
  text-decoration: none;
  color: #9e4940;
}
/* line 51, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .list-news a:active {
  text-decoration: none;
  color: #9e4940;
}
/* line 57, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date-event a:link {
  text-decoration: none;
  color: #9e4940;
}
/* line 58, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date-event a:visited {
  text-decoration: none;
  color: #9e4940;
}
/* line 59, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date-event a:hover {
  text-decoration: none;
  color: #9e4940;
}
/* line 60, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date-event a:active {
  text-decoration: none;
  color: #9e4940;
}
/* line 61, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date-event table {
  margin: 10px 0;
}
/* line 65, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date {
  background-color: #ebebeb;
  width: 35%;
  text-align: center;
  margin-right: 15px;
}
/* line 70, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date p {
  margin: 0;
  color: #b50505;
  line-height: 30px;
  /*font-weight: bold;*/
}
/* line 77, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date .date-num {
  font-size: 35px;
}
/* line 81, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date .date-mouth {
  font-size: 22px;
}
/* line 84, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .content .date .date-year {
  font-size: 25px;
}
/* line 89, C:/xampp/htdocs/cheehongkor/assets/sass/_home.scss */
#home-contant .line-date {
  background-image: url("../images/home/line-canlan.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  height: 7px;
}

/* line 1, C:/xampp/htdocs/cheehongkor/assets/sass/_about.scss */
#about-content {
  padding: 15px  0;
}
/* line 3, C:/xampp/htdocs/cheehongkor/assets/sass/_about.scss */
#about-content h2 {
  color: #801309;
  border-bottom: 1px dotted #999;
  padding-bottom: 15px;
}
/* line 9, C:/xampp/htdocs/cheehongkor/assets/sass/_about.scss */
#about-content .text-title {
  padding: 25px 0;
  border-bottom: 1px solid #999;
}
/* line 14, C:/xampp/htdocs/cheehongkor/assets/sass/_about.scss */
#about-content .list table {
  margin: 15px 0;
}
/* line 18, C:/xampp/htdocs/cheehongkor/assets/sass/_about.scss */
#about-content .list td {
  vertical-align: top;
}
/* line 22, C:/xampp/htdocs/cheehongkor/assets/sass/_about.scss */
#about-content .list b {
  color: #801309;
  font-size: 20px;
}

/* line 1, C:/xampp/htdocs/cheehongkor/assets/sass/_inside.scss */
#inside-content {
  padding: 15px  0;
}
/* line 3, C:/xampp/htdocs/cheehongkor/assets/sass/_inside.scss */
#inside-content h2 {
  color: #801309;
  border-bottom: 1px dotted #999;
  padding-bottom: 15px;
}
/* line 9, C:/xampp/htdocs/cheehongkor/assets/sass/_inside.scss */
#inside-content .list {
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  background-color: #fcfbf9;
  margin: 5px;
}
/* line 18, C:/xampp/htdocs/cheehongkor/assets/sass/_inside.scss */
#inside-content .list p {
  margin-top: 15px;
  padding: 15px 0;
  border-top: 1px dotted #999;
  color: #882218;
  font-size: 16px;
}
/* line 28, C:/xampp/htdocs/cheehongkor/assets/sass/_inside.scss */
#inside-content .col-xs-4 {
  width: 31.333%;
}

/* line 1, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content {
  background-image: url("../images/article/bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 1152px;
}
/* line 8, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content .list {
  margin-top: 15px;
  background-color: #ffffff;
}
/* line 11, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content .list .title {
  text-align: right;
  margin-top: -14px;
  border-bottom: 1px solid #dcdbdb;
  padding-right: 10px;
  /*margin:10px 0;*/
}
/* line 18, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content .list b {
  display: block;
  color: #801309;
  padding-top: 10px;
  font-size: 15px;
}
/* line 23, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content .list b a:link {
  text-decoration: none;
  color: #9e4940;
}
/* line 24, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content .list b a:visited {
  text-decoration: none;
  color: #9e4940;
}
/* line 25, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content .list b a:hover {
  text-decoration: none;
  color: #9e4940;
}
/* line 26, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content .list b a:active {
  text-decoration: none;
  color: #9e4940;
}
/* line 29, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content .list td {
  vertical-align: top;
}
/* line 35, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content .detail {
  padding: 10px 25px;
}
/* line 39, C:/xampp/htdocs/cheehongkor/assets/sass/_article.scss */
#article-content h4 {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #801309;
  /*border-bottom: 1px dotted #dcdbdb;*/
}

/* line 1, C:/xampp/htdocs/cheehongkor/assets/sass/_article_detail.scss */
#article-content-detail {
  background-image: url("../images/article/bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 1152px;
}
/* line 7, C:/xampp/htdocs/cheehongkor/assets/sass/_article_detail.scss */
#article-content-detail .detail {
  padding: 50px 25px;
}
/* line 11, C:/xampp/htdocs/cheehongkor/assets/sass/_article_detail.scss */
#article-content-detail h4 {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #801309;
  border-bottom: 1px dotted #dcdbdb;
}

/* line 1, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content {
  padding: 20px 0;
}
/* line 2, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .fb-share-button-icon {
  background-image: url("../images/news/fb.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 25px;
  width: 26px;
}
/* line 10, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .bx-wrapper {
  margin: 0 auto !important;
  padding: 0;
  position: relative;
}
/* line 15, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  box-shadow: 0 0 5px #CCCCCC;
  left: 0px;
}
/* line 21, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .bx-wrapper .bx-controls-direction a {
  display: none;
}
/* line 25, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content p {
  margin: 0px;
}
/* line 28, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content td {
  vertical-align: top;
}
/* line 31, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content h2 {
  color: #801309;
}
/* line 34, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list-thumb {
  padding: 0px;
  margin: 10px 0;
  text-align: center;
}
/* line 42, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list-thumb a {
  /*                        list-style:none;
  float:left;*/
  margin: 0 3px;
}
/* line 48, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .date {
  color: #70706f;
  text-align: right;
}
/* line 52, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .titile {
  background-color: #ebebeb;
  padding: 15px 10px 20px 10px;
  text-align: center;
  font-size: 18px;
  color: #801309;
}
/* line 58, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .titile a:link {
  text-decoration: none;
  color: #801309;
}
/* line 59, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .titile a:visited {
  text-decoration: none;
  color: #801309;
}
/* line 60, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .titile a:hover {
  text-decoration: none;
  color: #801309;
}
/* line 61, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .titile a:active {
  text-decoration: none;
  color: #801309;
}
/* line 63, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .detail-news {
  border-bottom: 1px dotted #dcdbdb;
  padding: 20px 15px;
}
/* line 67, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .social {
  padding: 20px 15px;
}
/* line 72, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .more {
  text-align: right;
}
/* line 74, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .more a:link {
  text-decoration: none;
  color: #fff;
}
/* line 75, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .more a:visited {
  text-decoration: none;
  color: #fff;
}
/* line 76, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .more a:hover {
  text-decoration: none;
  color: #fff;
}
/* line 77, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .more a:active {
  text-decoration: none;
  color: #fff;
}
/* line 83, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .vdo-detail h4 {
  color: #801309;
  padding-bottom: 5px;
}
/* line 87, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list {
  padding: 15px 5px;
}
/* line 90, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list .date-list {
  padding-top: 15px;
}
/* line 93, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list h4 {
  border-bottom: 1px dotted #DCDBDB;
  color: #801309;
  padding-bottom: 5px;
}
/* line 97, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list h4 a:link {
  text-decoration: none;
  color: #801309;
}
/* line 98, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list h4 a:visited {
  text-decoration: none;
  color: #801309;
}
/* line 99, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list h4 a:hover {
  text-decoration: none;
  color: #801309;
}
/* line 100, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list h4 a:active {
  text-decoration: none;
  color: #801309;
}
/* line 102, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list .more-list {
  padding-top: 15px;
}
/* line 104, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list .more-list a:link {
  text-decoration: none;
  color: #801309;
}
/* line 105, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list .more-list a:visited {
  text-decoration: none;
  color: #801309;
}
/* line 106, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list .more-list a:hover {
  text-decoration: none;
  color: #801309;
}
/* line 107, C:/xampp/htdocs/cheehongkor/assets/sass/_news.scss */
#news-content .list .more-list a:active {
  text-decoration: none;
  color: #801309;
}

/* line 1, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content {
  padding: 20px 0;
}
/* line 6, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content h4 {
  padding-left: 15px;
}
/* line 9, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content td {
  vertical-align: top;
}
/* line 12, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content b {
  color: #801309;
}
/* line 14, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content b a:link {
  text-decoration: none;
  color: #801309;
}
/* line 15, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content b a:visited {
  text-decoration: none;
  color: #801309;
}
/* line 16, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content b a:hover {
  text-decoration: none;
  color: #801309;
}
/* line 17, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content b a:active {
  text-decoration: none;
  color: #801309;
}
/* line 19, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content .list {
  margin-top: 10px;
}
/* line 23, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content .list-vdo {
  margin-top: 10px;
  background-color: #ebebeb;
  padding: 10px 15px;
}
/* line 29, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content .line-list {
  border-bottom: 1px solid #ebebeb;
}
/* line 32, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content .more {
  text-align: right;
}
/* line 34, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content .more a:link {
  text-decoration: none;
  color: #801309;
}
/* line 35, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content .more a:visited {
  text-decoration: none;
  color: #801309;
}
/* line 36, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content .more a:hover {
  text-decoration: none;
  color: #801309;
}
/* line 37, C:/xampp/htdocs/cheehongkor/assets/sass/_newsall.scss */
#newsall-content .more a:active {
  text-decoration: none;
  color: #801309;
}

/* line 1, C:/xampp/htdocs/cheehongkor/assets/sass/_news_detail.scss */
#news-content-detail {
  height: auto;
}
/* line 4, C:/xampp/htdocs/cheehongkor/assets/sass/_news_detail.scss */
#news-content-detail td {
  vertical-align: top;
}
/* line 8, C:/xampp/htdocs/cheehongkor/assets/sass/_news_detail.scss */
#news-content-detail .detail {
  padding: 50px 25px;
}
/* line 12, C:/xampp/htdocs/cheehongkor/assets/sass/_news_detail.scss */
#news-content-detail h4 {
  padding-bottom: 5px;
  color: #801309;
}

/* line 1, C:/xampp/htdocs/cheehongkor/assets/sass/_contactus.scss */
#contactus-content {
  padding-top: 20px;
}
/* line 3, C:/xampp/htdocs/cheehongkor/assets/sass/_contactus.scss */
#contactus-content h2 {
  color: #801309;
}
/* line 6, C:/xampp/htdocs/cheehongkor/assets/sass/_contactus.scss */
#contactus-content .contact-form {
  background-image: url("../images/contactus/bg_form.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 255px;
  padding: 30px;
  width: 881px;
  color: #801309;
  /*        tr{
              line-height:45px;
          }*/
}
/* line 17, C:/xampp/htdocs/cheehongkor/assets/sass/_contactus.scss */
#contactus-content .contact-form input, #contactus-content .contact-form textarea {
  margin: 10px;
  border: none;
  width: 300px;
  padding: 3px;
}
/* line 23, C:/xampp/htdocs/cheehongkor/assets/sass/_contactus.scss */
#contactus-content .contact-form .button {
  background-color: #801309;
  color: #FFFFFF;
  padding: 5px 15px;
  width: 100px;
}
